<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @skin.name %>
</p>

<p>
  <strong>Color:</strong>
  <%= @skin.color %>
</p>

<p>
  <strong>Pattern:</strong>
  <%= @skin.pattern %>
</p>

<%= link_to 'Edit', edit_skin_path(@skin) %> |
<%= link_to 'Back', skins_path %>
